/* mycss */

html{
	padding:0;
	margin:0;
	width:100%;
}
body{
	font-family: Arial,微软雅黑,Helvetica,sans-serif,黑体,宋体;
}

.mybtn>button{
margin-top:15px;
height:42px;
line-height:1;
padding:0;
font-size:16px;
}
.mybtn>button>i{
color:#fff;
font-size:22px;
}

.or{
text-align:center;
font-size:18px;
font-weight:600;
margin-top:10px;
display:block;
}

.fa-users{
	color:#ED561B;
	font-size:22px;
}

.app-aside-folded .navbar-brand{
background:#666;
}
.app-aside-folded .navbar-brand span{
display:none !important;
}
.navbar-brand span{
color:#20B2AA;
}

/* 20151117 */
.ui-grid-render-container{
	margin-bottom:10px;
}
.ui-grid-pager-count-container{
	color:red;
}
.ebtn,.dbtn{
	padding:5px 10px !important;
}
.ebtn>button,.dbtn>button{
	padding:2px 14px !important;
}
.myph{
	padding:0px 15px;
	height:41px;
	line-height:41px;
}
.abtn,.upbtn{
	padding:4px 12px !important;
}

.upload{
    position:relative;
    overflow:hidden;
	float:left;
	margin-right:3px;
}
.upfile{
    position:absolute;
    right:0;
    top:0;
    opacity:0;
	width:82px;
	cursor:inherit;
}

