
<div class="wrapper-md" ng-controller="DevicesController">
  <!-- <div class="row row-sm b-b"> -->
  <div class="row row-sm">
    <!-- <div class="row row-sm col-lg-7 col-md-7 col-sm-12 b-r m-n" style="min-height:305px;"> -->
	<div class="row row-sm col-lg-12 col-md-12 col-sm-12 m-n" style="min-height:305px;">
      <div class="col-lg-12 col-md-12 col-sm-12 m-t center-block ">
	  
        <div class="panel panel-default">
			<div class="panel-heading">
			  设备列表
			</div>
			<div class="row wrapper">
			  <div class="col-sm-5 m-b-xs">

				<div>
					<div class="upload">
					  <input type="file" class="upfile">
					  <input type="button" class="btn btn-info upbtn" value="批量导入">
				  </div>
				  <span ng-controller="myModal">
					<script type="text/ng-template" id="myModalContent.html">
					  <div ng-include="'tpl/mymodal.html'"></div>
					</script>
					<button class="btn btn-success abtn" ng-click="open(lg)"><i class="fa fa-plus"></i> 添加</button>
				  </span>
				</div>
				              
			  </div>
			  <div class="col-sm-4">
			  </div>
			  <div class="col-sm-3">
				<div class="input-group">
				  <input type="text" class="input-sm form-control" id="mysch" placeholder="Search">
				  <span class="input-group-btn">
					<button class="btn btn-sm btn-success" type="button">Go!</button>
				  </span>
				</div>
			  </div>
			</div>
			<div class="table-responsive mytable">
			  <!-- <table class="table table-striped b-t b-light">
				<thead>
				  <tr>
					<th style="width:20px;">
					  <label class="i-checks m-b-none">
						<input type="checkbox"><i></i>
					  </label>
					</th>
					<th>Project</th>
					<th>Task</th>
					<th>Date</th>
					<th style="width:30px;"></th>
				  </tr>
				</thead>
				<tbody>
				</tbody>
			  </table> -->
			</div>
			<footer class="panel-footer">
			  <div class="row">
				<div class="col-sm-3 hidden-xs">
				  <select class="input-sm form-control w-sm inline v-middle">
					<option value="0">Bulk action</option>
					<option value="1">Delete selected</option>
					<option value="2">Bulk edit</option>
					<option value="3">Export</option>
				  </select>
				  <button class="btn btn-sm btn-default">Apply</button>                  
				</div>
				<div class="col-sm-3 text-center">
				  <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
				</div>
				<div class="col-sm-6 text-right text-center-xs">                
				  <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"></pagination>
				  <!-- <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination> -->
				</div>
			  </div>
			</footer>
		  </div>
		  
      </div>
      <!-- <div ng-repeat="i in availableDeviceSlots track by $index" class="col-lg-12 col-md-12 col-sm-12 center-block">
        <div class="panel bg b-a border-dashed " style="min-height:65px">
          <span class="empty_dev m-l-xl empty_dev font-thin inline m-t-md">Empty slot for your device</span>
        </div>
      </div>
      <div ng-show="devices.devicesQuota < 10" class="col-lg-12 col-md-12 col-sm-12 center-block">

        <div ng-click="upgradeAccount()" class="panel text-left bg-green w-full" style="line-height:6rem;text-align:left;">
          <span class="inline m-l-md text-lg"><i style="vertical-align:middle;" class="fa fa-plus m-r-xs fa inline text-white"></i><span class="m-n text-white"> 更新设备列表！</span></span>
        </div>

      </div> -->
    </div>
    <div class="col-lg-5 row m-n col-md-5 col-sm-12 pull-right text-dark hide">
      <div class="wrapper-md">
        <img src="../img/all.png" height="54" width="95" />
        <h4 class="m-t-lg">You have free slots on your Locker</h4>
        <p>Currently you can connect up to {{ devices.authorizedDevices.length || 0 }} devices. To connect new devices to your Locker.FM account you need to log in into Locker.FM on desired application.</p>
        <p>Full list of available devices and applications you can see <a><u>here.</u></a></p>
      </div>
    </div>
  </div>
</div>
