<div class="hbox hbox-auto-xs hbox-auto-sm">


  <!-- main -->
  <div class="col wrapper-lg">
    <h3 class="font-thin m-t-n-xs m-b">Artists</h3>
    <div class="row row-sm">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4" ng-repeat="data in artists">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
       
            <span class="badge bg-info m-l-sm m-t-sm" ng-if="artistAlbumsCount[$index]==1">{{artistAlbumsCount[$index]}} album</span>
            <span class="badge bg-info m-l-sm m-t-sm" ng-if="artistAlbumsCount[$index]>1">{{artistAlbumsCount[$index]}} albums</span>
            </div>
            <div class="item-overlay bg-black-opacity">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <a ui-sref="music.artists.albums({id:'{{data.id}}'})"><img src="img/b16.jpg" alt="" class="img-full"></a>
          </div>
          <div class="wrapper bg-white m-b">
            <a ui-sref="music.mtv({id:'{{data.id}}'})" class="text-ellipsis">{{data.name}}</a>
          
          </div>
        </div>
      </div>
     
      <div class="clearfix visible-xs"></div>
     

    
      
    
  
    </div>
  
  </div>
  <!-- / main -->
</div>