<script src="js/controllers/signin.js"></script>
<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">登录</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>{{app.name}}</strong>
    </div>
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required value="stkachenko@coppertino.com">
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required value="123456">
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>登录</button>
	  
    </form>
	<div>
	  <div class="text-center m-t m-b"><a ui-sref="signup">忘记密码?</a></div>
	  <div class="line line-dashed"></div>
	  <p class="text-center"><small>没有账户?</small></p>
	  <a ui-sref="signup" class="btn btn-lg btn-default btn-block">创建账户</a>
	  <span class="or"> 或者 </span>
	  <div class="signbtn">
		<button class="btn btn-info btn-block" ng-click="authenticate('facebook')"><i class="fa fa-facebook pull-left"></i> Sign in with Facebook</button>
		<button class="btn btn-success btn-block" ng-click="authenticate('google')"><i class="fa fa-google-plus pull-left"></i> Sign in with Google</button>
		<button class="btn btn-danger btn-block" ng-click="authenticate('github')"><i class="fa fa-github pull-left"></i> Sign in with GitHub</button>
		<!-- <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
		<button ng-click="authenticate('instagram')">Sign in with Instagram</button>
		<button ng-click="authenticate('twitter')">Sign in with Twitter</button>
		<button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
		<button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
		<button ng-click="authenticate('live')">Sign in with Windows Live</button>
		<button ng-click="authenticate('twitch')">Sign in with Twitch</button> -->
	  </div>
	</div>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>